body{
    margin: 0;
}
#main{
    background-image: url("hearts-background.png");
    background-color: rgb(241, 236, 241);
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}
#tekst{
    font-family: 'Lucida Handwriting', cursive;
}
.przycisk{
    background-color: blanchedalmond;
    border: none;
    color: white;
    padding: 15px 32px;
    margin: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 12%;

}
.przycisk#tak{
    background-color: rgb(23, 172, 23);
}
.przycisk#nie{
    background-color: rgb(231, 53, 53);
}